@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
:root {
    --main-color: #0ef;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
     background-color: #1f242d;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
      backdrop-filter: blur(10px);
     border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header.sticky{
    border-bottom: .1rem solid rgba(0 ,0, 0, .2);
}
.logo {
    font-size: 1.6rem;
    font-weight: 600;
    color: #0ef;
    transition: .5s ease;
    text-shadow: 0 0 2px #0ef, 0 0 20px rgb(30, 198, 198);
} 
.navbar a{
    font-size: 1.1rem;
    transition: .3s;
    color: white;
    margin-left: 3rem;
}
.navbar a:hover,
.navbar a.active {
    color: #0ef;
}
body{
    background-color: #1f242d;
    color: white;
}
#menu-icon{
    font-size: 3.6rem;
    color: white;
    display: none;
}

/* Home */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #1f242d; 
}

.home-content{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.home-content h3{
    font-size: 1.9em;
    font-weight: 700;
}
.home-content h1{
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.3;
}
section{
    min-height: 100vh;
    padding: 7rem 9% 2rem;
}
.home-img .img2{
    width: 350px;
    height: 480px;
    background: #1f242d;
    background-size: cover;
    box-shadow: 2px 2px 25px #0ef; 
     border: 5px solid cyan;
    box-shadow: 2px 2px 25px #0ef; 
    animation: floatImage 4s ease-in-out infinite;
     border-top-left-radius: 230px; 
    border-bottom-right-radius: 230px;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}




.home-content p{
    font-size: 0.9rem;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 1rem;
}
span{
    color: #0ef;
}
.social-media{
    display: flex;
    gap: 20px;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: .2rem solid #0ef;
    border-radius: 50%;
    font-size: 1rem;
    fill: #0ef;
    margin-top: 20px;
    transition: .5s ease;
}
.social-media a:hover{
    background: #0ef;
    fill: #1f242d;
    box-shadow: 0 0 1rem #0ef;
}

.btn{
    width: 19%;
    color: #1f242d;
    display: inline-block;
    padding: 10px 19px ;
    background: #0ef;
    font-size: 13px;
    border-radius: 4rem;
    margin-top: 25px;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    box-shadow: 0 0 1rem #0ef;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
.btn1{
    width: 45%;
    color: #1f242d;
    display: inline-block;
    padding: 13px 19px ;
    background: #0ef;
    font-size: 13px;
    border-radius: 4rem;
    margin-top: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 1rem #0ef;
    transition: .5s ease;
}
.btn1:hover{
    box-shadow: none;
}
.heading{
    text-align: center;
    font-size: 2.6rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 1.5rem;
}
.about-content p{
    width: 95%;
    font-size: 16px;
    margin: 1.7rem 0 1rem;
} 

.services h2{
    margin-bottom: 1rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box{
    flex: 1 1 20rem; 
    background: #323946;
    padding: 1.5rem 1.5rem 2.4rem;
    border-radius: 2rem;
    margin-top: 3rem;
    text-align: center;
    border: .2rem solid #1f242d;
     transition: .5s ease ; 
}
.services-container .services-box:hover{
    border-color: #0ef;
    transform: translateY(-8px);
    /* transform: scale(1.1); */
}
.services-box svg{
    fill: #0ef;
    /* font-size: 7rem; */
}
.services-box h3{
    font-size: 1.6rem;
}
.services-box p{
    font-size: 1rem;
    margin: 1rem 0 1rem;
    text-align: center;
}

 /* Portfolio */
.portfolio{
    background: #323946;
}
.portfolio h2{
    margin-bottom: 3rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 3rem #1f242d;
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
     transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 2rem;
}
.portfolio-layer p{
    font-size: 1rem;
    margin: 0rem 0 1rem;
}
.portfolio-layer a{
    display: inline;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 50%;
    padding: 12px 5px;
}
.portfolio-layer a svg{
    font-size: 1rem;
    fill: #1f242d;
}

/* Contact */
.contact h2{
    margin-bottom: 3rem;
}
.contact form {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.0rem;
    color: white;
    background: #323946;
    border-radius: .8rem;
    margin: .7rem 0;
    border: none;
    outline: none; 
    transition: .5s ease;
}

.contact form textarea{
    width: 100%;
    height: 35vh;
    resize: none;
    padding: 1.2rem;
    font-size: 1.rem;
    color: white;
    background: #323946;
    border-radius: .8rem;
    margin: .7rem 0;
    border: none;
    outline: none;
}
.contact form .input-box input {
    width: 49%;
}
.contact form .btn{
    cursor: pointer;
    padding: 12px 20px ;
    width: 22%;
    color: #323946;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: #323946;
}
.footer-text p{
    font-size: 1rem;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    background: #0ef;
    border-radius: 10px;
    transition: .5s ease;
}
.footer-iconTop a svg{
    fill: #323946;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem #0ef;
}

/* about */

.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #323946;
  /* padding: 40px 0px; */
}


.about-card {
  display: flex;
  gap: 30px;   
  max-width: 1050px;
  background: #2a2f3a;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}


.about-card:hover {
  transform: translateY(-6px);
}

.about-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
   background-size: cover;
}

.about-img img {
  width: 100%;
  max-width: 290px;
  border-radius: 16px;
  border: 3px solid #0ef;
  box-shadow: 0 10px 30px rgba(0, 238, 255, 0.3);
}

.about-content {
  flex: 2;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 15px;
  margin-top: 20px;
  color: #0ef;
  
}

.about-content p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #dcdcdc;
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li {
  font-size: 17px;
  margin-bottom: 10px;
}

.about-content ul li span {
  color: #0ef;
  font-weight: 600;
}





/* media katta-telfonlarga */

@media (max-width: 767px) {

    .header {
        padding: 1rem 3%;
    }

    #menu-icon {
        display: block;
        font-size: 2.8rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #1f242d;
        padding: 1rem 2%;
        display: none;
        flex-direction: column;
        gap: 1.2rem;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        font-size: 1.6rem;
        margin: 1rem 0;
    }

    .home {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 7rem;
    }

    .home-content {
        width: 95%;
        gap: 8px;
        align-items: center;
    }

    .home-content h1, .home-content h3, .home-content p {
        text-align: center;
    }

    .home-content h1 {
        font-size: 2rem;
    }

    .home-content h3 {
        font-size: 1.2rem;
    }

    .home-content p {
        font-size: 0.85rem;
    }

    .home-img img {
        width: 75%;
        height: auto;
        margin-top: 1.5rem;
        border-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: 2rem 0;
        border: 3px solid #0ef;
        box-shadow: 0 10px 30px rgba(0, 238, 255, 0.3);
    }

    .social-media {
        justify-content: center;
        margin-top: 15px;
        gap: 15px;
    }

    .social-media a {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-content .btn {
        width: 65%;
        padding: 10px 15px;
        font-size: 0.85rem;
        margin: 15px auto;
        display: block;
    }

    .services-box .btn1 {
        width: 80%;
        padding: 10px 15px;
        font-size: 0.85rem;
        margin: 15px auto;
        display: block;
    }

    .about-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .about-img img {
        max-width: 85%;
        margin-bottom: 15px;
    }

    .about-content h2 {
        font-size: 24px;
        text-align: center;
    }

    .about-content p, .about-content ul li {
        font-size: 14px;
        text-align: center;
    }

    .services-container {
        flex-direction: column;
        gap: 1.5rem;
    }
    .services-box {
        width: 95%;
        margin: 0 auto;
    }

    .portfolio-container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .contact form {
        width: 95%;
    }
    .contact form .input-box {
        flex-direction: column;
        gap: 0.8rem;
    }
    .contact form .input-box input {
        width: 100%;
    }
    .contact form textarea {
        width: 100%;
        height: 20vh;
    }
    .contact form .btn {
        width: 100%;
        margin-top: 0.8rem;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 0.8rem;
        text-align: center;
        padding: 1rem 3%;
    }
   
}


/* media ortancha-telfonlarga  */
@media (max-width: 430px) {

    .header {
        padding: 0.2rem 3%;
        border: none;
    }
      #menu-icon {
        display: block;
        font-size: 2.2rem;
    }
    .logo{
        font-size: 20px;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 250px;
        width: 35%;
        height: 32vh;
        border-radius: 20px;
        background: #1f242d;
        padding: 1rem 2%;
        display: none;
        flex-direction: column;
        text-align: center;
        box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        font-size: 14px;
        margin: 0;
    }

    .home {
        flex-direction: column-reverse;
        text-align: center;
    }
    .home-content {
        width: 95%;
    }
    .home-content h3,
    .home-content h1,
    .home-content h3 span,
    .home-content p {
        text-align: center;
    }

    .home-img .img2 {
        width: 250px;
        height: 300px;
        border-radius: 20px; /* torburchak */
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: 2rem 0;
    }

    .social-media {
        justify-content: center;
        margin-top: 15px;
    }
    .social-media a {
        margin: 0 1px;
    }

    .home-content .btn {
        margin: 15px auto 0;
        display: block;
        width: 60%;
    }

    .about-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .about-img img {
        width: 190px;
        max-width: 100%;
        border-radius: 20px;
    }
    .about-content h2,
    .about-content p,
    .about-content ul,
    .about-content .btn {
        text-align: center;
    }

    .about-content ul {
        padding: 0;
        margin: 0 auto 15px;
    }
    .about-content ul li {
        margin-bottom: 8px;
    }
    .about-content .btn {
        width: 50%;
        margin: 10px auto 0;
    }

    .services-container {
        flex-direction: column;
        gap: 1rem;
    }
    .services-container .services-box {
        width: 100%;
    }

    .portfolio-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .portfolio-layer h4,
    .portfolio-layer p{
        font-size: 0.9rem;
    }
     .portfolio-layer h4{
        font-size: 1.5rem;
     }

    .contact form {
        width: 95%;
    }
    .contact form .input-box input,
    .contact form textarea {
        width: 100%;
    }
    .contact form .btn {
        width: 60%;
        margin: 15px auto 0;
        display: block;
    }

    .footer {
        flex-direction: column-reverse;
        text-align: center;
        gap: 10px;
    }
    .footer-iconTop {
        justify-content: center;
    }
}


